@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One:wght@100;200;300;400;500;600&display=swap');

html, body {
  background: #000;
  max-width: 100%;
  max-height: 100%;
}

* {
  font-family: "Saira";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}